{# <ul
  data-ref="menu" 
  class="menu w-full bg-white"
  style="background-color: {% if post.pageBackground %}{{ post.pageBackground }}{% else %}transparent{% endif %}; ">
  {% for item in items %}
    {% if not item.children %}
      <li class="w-auto font-sans uppercase item flex justify-start items-center hover:translate-x-xxl {{- item.current ? ' translate-x-xxl' }}">
        <a class="link font-h1" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {% if item.children %}
      <li class="w-auto font-sans uppercase item flex justify-start items-center open-submenu hover:translate-x-xxl {{- item.current ? ' translate-x-xxl' }}" >
        <div class="link font-h1">
          {{ item.title }}
        </div>
        <ul class="submenu">
          {% for subitem in item.children %}
            <li class="w-auto font-sans uppercase item flex justify-start items-center hover:translate-x-xxl {{- subitem.current ? ' translate-x-xxl' }}">
              <a class="link font-h1" href="{{ subitem.link }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul> #}
