<!DOCTYPE html>
<html class="html {{ body_class }} horizontal page-{{ post.slug }}" id="theTop" lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">
    {{ function('wp_head') }}
    <!-- Google tag (gtag.js) -->
    {# <script async src="https://www.googletagmanager.com/gtag/js?id=G-J7R4D0N0KC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-J7R4D0N0KC');
    </script> #}
  </head>
  <body class="">
    <a href="#mainContent" class="skipLink">
      {{ __("Skip to main content", "flynt") }}
    </a>
    {% block layout %}
      <div class="pageWrapper relative z-20">
        <header class="w-full">
          {% block header %}
            <div class="wrapper wrapper--menu flex justify-center items-center w-full mx-auto fixed top-0 left-0 z-[3000]">
              <div class="p-0 flex flex-row justify-between gap-sm">
                {{ renderComponent('NavigationBurger') }} 
              </div>
            </div>
            {# {{ renderComponent('NavigationBurger') }} #}
          {% endblock %}
        </header>
        <main id="mainContent" class="mainContent mt-[90px] min-h-[calc(100vh_-_132px)] lg:mt-[145px] lg:min-h-[calc(100vh_-_187px)]" aria-label="{{ __('Content', 'flynt') }}">
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>
        <footer class="mainFooter">
          {% block footer %}
            {{ renderComponent('NavigationFooter') }}
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
    <div class="fixed top-[-60px] left-0 z-10 p-sm">
      <svg width="1688" height="4952" viewBox="0 0 1688 4952" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g style="mix-blend-mode:exclusion">
          <path d="M0.9 7V-4.76837e-07H5.8V0.9H1.9V3.15H5.3V4.05H1.9V7H0.9Z" fill="black"/>
          <path d="M1010.59 7V-4.76837e-07H1015.49V0.9H1011.59V3.15H1014.99V4.05H1011.59V7H1010.59Z" fill="black"/>
          <path d="M339.725 7H338.725V4.1L336.225 -4.76837e-07H337.385L339.255 3.09L341.105 -4.76837e-07H342.225L339.725 4.1V7Z" fill="black"/>
          <path d="M1349.41 7H1348.41V4.1L1345.91 -4.76837e-07H1347.07L1348.94 3.09L1350.79 -4.76837e-07H1351.91L1349.41 4.1V7Z" fill="black"/>
          <path d="M674.425 7V-4.76837e-07H675.425V7H674.425Z" fill="black"/>
          <path d="M1684.11 7V-4.76837e-07H1685.11V7H1684.11Z" fill="black"/>
          <path d="M0.9 222V215H5.8V215.9H1.9V218.15H5.3V219.05H1.9V222H0.9Z" fill="black"/>
          <path d="M1010.59 222V215H1015.49V215.9H1011.59V218.15H1014.99V219.05H1011.59V222H1010.59Z" fill="black"/>
          <path d="M339.725 222H338.725V219.1L336.225 215H337.385L339.255 218.09L341.105 215H342.225L339.725 219.1V222Z" fill="black"/>
          <path d="M1349.41 222H1348.41V219.1L1345.91 215H1347.07L1348.94 218.09L1350.79 215H1351.91L1349.41 219.1V222Z" fill="black"/>
          <path d="M674.425 222V215H675.425V222H674.425Z" fill="black"/>
          <path d="M1684.11 222V215H1685.11V222H1684.11Z" fill="black"/>
          <path d="M0.9 437V430H5.8V430.9H1.9V433.15H5.3V434.05H1.9V437H0.9Z" fill="black"/>
          <path d="M1010.59 437V430H1015.49V430.9H1011.59V433.15H1014.99V434.05H1011.59V437H1010.59Z" fill="black"/>
          <path d="M339.725 437H338.725V434.1L336.225 430H337.385L339.255 433.09L341.105 430H342.225L339.725 434.1V437Z" fill="black"/>
          <path d="M1349.41 437H1348.41V434.1L1345.91 430H1347.07L1348.94 433.09L1350.79 430H1351.91L1349.41 434.1V437Z" fill="black"/>
          <path d="M674.425 437V430H675.425V437H674.425Z" fill="black"/>
          <path d="M1684.11 437V430H1685.11V437H1684.11Z" fill="black"/>
          <path d="M0.9 652V645H5.8V645.9H1.9V648.15H5.3V649.05H1.9V652H0.9Z" fill="black"/>
          <path d="M1010.59 652V645H1015.49V645.9H1011.59V648.15H1014.99V649.05H1011.59V652H1010.59Z" fill="black"/>
          <path d="M339.725 652H338.725V649.1L336.225 645H337.385L339.255 648.09L341.105 645H342.225L339.725 649.1V652Z" fill="black"/>
          <path d="M1349.41 652H1348.41V649.1L1345.91 645H1347.07L1348.94 648.09L1350.79 645H1351.91L1349.41 649.1V652Z" fill="black"/>
          <path d="M674.425 652V645H675.425V652H674.425Z" fill="black"/>
          <path d="M1684.11 652V645H1685.11V652H1684.11Z" fill="black"/>
          <path d="M0.9 867V860H5.8V860.9H1.9V863.15H5.3V864.05H1.9V867H0.9Z" fill="black"/>
          <path d="M1010.59 867V860H1015.49V860.9H1011.59V863.15H1014.99V864.05H1011.59V867H1010.59Z" fill="black"/>
          <path d="M339.725 867H338.725V864.1L336.225 860H337.385L339.255 863.09L341.105 860H342.225L339.725 864.1V867Z" fill="black"/>
          <path d="M1349.41 867H1348.41V864.1L1345.91 860H1347.07L1348.94 863.09L1350.79 860H1351.91L1349.41 864.1V867Z" fill="black"/>
          <path d="M674.425 867V860H675.425V867H674.425Z" fill="black"/>
          <path d="M1684.11 867V860H1685.11V867H1684.11Z" fill="black"/>
          <path d="M0.9 1082V1075H5.8V1075.9H1.9V1078.15H5.3V1079.05H1.9V1082H0.9Z" fill="black"/>
          <path d="M1010.59 1082V1075H1015.49V1075.9H1011.59V1078.15H1014.99V1079.05H1011.59V1082H1010.59Z" fill="black"/>
          <path d="M339.725 1082H338.725V1079.1L336.225 1075H337.385L339.255 1078.09L341.105 1075H342.225L339.725 1079.1V1082Z" fill="black"/>
          <path d="M1349.41 1082H1348.41V1079.1L1345.91 1075H1347.07L1348.94 1078.09L1350.79 1075H1351.91L1349.41 1079.1V1082Z" fill="black"/>
          <path d="M674.425 1082V1075H675.425V1082H674.425Z" fill="black"/>
          <path d="M1684.11 1082V1075H1685.11V1082H1684.11Z" fill="black"/>
          <path d="M0.9 1297V1290H5.8V1290.9H1.9V1293.15H5.3V1294.05H1.9V1297H0.9Z" fill="black"/>
          <path d="M1010.59 1297V1290H1015.49V1290.9H1011.59V1293.15H1014.99V1294.05H1011.59V1297H1010.59Z" fill="black"/>
          <path d="M339.725 1297H338.725V1294.1L336.225 1290H337.385L339.255 1293.09L341.105 1290H342.225L339.725 1294.1V1297Z" fill="black"/>
          <path d="M1349.41 1297H1348.41V1294.1L1345.91 1290H1347.07L1348.94 1293.09L1350.79 1290H1351.91L1349.41 1294.1V1297Z" fill="black"/>
          <path d="M674.425 1297V1290H675.425V1297H674.425Z" fill="black"/>
          <path d="M1684.11 1297V1290H1685.11V1297H1684.11Z" fill="black"/>
          <path d="M0.9 1512V1505H5.8V1505.9H1.9V1508.15H5.3V1509.05H1.9V1512H0.9Z" fill="black"/>
          <path d="M1010.59 1512V1505H1015.49V1505.9H1011.59V1508.15H1014.99V1509.05H1011.59V1512H1010.59Z" fill="black"/>
          <path d="M339.725 1512H338.725V1509.1L336.225 1505H337.385L339.255 1508.09L341.105 1505H342.225L339.725 1509.1V1512Z" fill="black"/>
          <path d="M1349.41 1512H1348.41V1509.1L1345.91 1505H1347.07L1348.94 1508.09L1350.79 1505H1351.91L1349.41 1509.1V1512Z" fill="black"/>
          <path d="M674.425 1512V1505H675.425V1512H674.425Z" fill="black"/>
          <path d="M1684.11 1512V1505H1685.11V1512H1684.11Z" fill="black"/>
          <path d="M0.9 1727V1720H5.8V1720.9H1.9V1723.15H5.3V1724.05H1.9V1727H0.9Z" fill="black"/>
          <path d="M1010.59 1727V1720H1015.49V1720.9H1011.59V1723.15H1014.99V1724.05H1011.59V1727H1010.59Z" fill="black"/>
          <path d="M339.725 1727H338.725V1724.1L336.225 1720H337.385L339.255 1723.09L341.105 1720H342.225L339.725 1724.1V1727Z" fill="black"/>
          <path d="M1349.41 1727H1348.41V1724.1L1345.91 1720H1347.07L1348.94 1723.09L1350.79 1720H1351.91L1349.41 1724.1V1727Z" fill="black"/>
          <path d="M674.425 1727V1720H675.425V1727H674.425Z" fill="black"/>
          <path d="M1684.11 1727V1720H1685.11V1727H1684.11Z" fill="black"/>
          <path d="M0.9 1942V1935H5.8V1935.9H1.9V1938.15H5.3V1939.05H1.9V1942H0.9Z" fill="black"/>
          <path d="M1010.59 1942V1935H1015.49V1935.9H1011.59V1938.15H1014.99V1939.05H1011.59V1942H1010.59Z" fill="black"/>
          <path d="M339.725 1942H338.725V1939.1L336.225 1935H337.385L339.255 1938.09L341.105 1935H342.225L339.725 1939.1V1942Z" fill="black"/>
          <path d="M1349.41 1942H1348.41V1939.1L1345.91 1935H1347.07L1348.94 1938.09L1350.79 1935H1351.91L1349.41 1939.1V1942Z" fill="black"/>
          <path d="M674.425 1942V1935H675.425V1942H674.425Z" fill="black"/>
          <path d="M1684.11 1942V1935H1685.11V1942H1684.11Z" fill="black"/>
          <path d="M0.9 2157V2150H5.8V2150.9H1.9V2153.15H5.3V2154.05H1.9V2157H0.9Z" fill="black"/>
          <path d="M1010.59 2157V2150H1015.49V2150.9H1011.59V2153.15H1014.99V2154.05H1011.59V2157H1010.59Z" fill="black"/>
          <path d="M339.725 2157H338.725V2154.1L336.225 2150H337.385L339.255 2153.09L341.105 2150H342.225L339.725 2154.1V2157Z" fill="black"/>
          <path d="M1349.41 2157H1348.41V2154.1L1345.91 2150H1347.07L1348.94 2153.09L1350.79 2150H1351.91L1349.41 2154.1V2157Z" fill="black"/>
          <path d="M674.425 2157V2150H675.425V2157H674.425Z" fill="black"/>
          <path d="M1684.11 2157V2150H1685.11V2157H1684.11Z" fill="black"/>
          <path d="M0.9 2372V2365H5.8V2365.9H1.9V2368.15H5.3V2369.05H1.9V2372H0.9Z" fill="black"/>
          <path d="M1010.59 2372V2365H1015.49V2365.9H1011.59V2368.15H1014.99V2369.05H1011.59V2372H1010.59Z" fill="black"/>
          <path d="M339.725 2372H338.725V2369.1L336.225 2365H337.385L339.255 2368.09L341.105 2365H342.225L339.725 2369.1V2372Z" fill="black"/>
          <path d="M1349.41 2372H1348.41V2369.1L1345.91 2365H1347.07L1348.94 2368.09L1350.79 2365H1351.91L1349.41 2369.1V2372Z" fill="black"/>
          <path d="M674.425 2372V2365H675.425V2372H674.425Z" fill="black"/>
          <path d="M1684.11 2372V2365H1685.11V2372H1684.11Z" fill="black"/>
          <path d="M0.9 2587V2580H5.8V2580.9H1.9V2583.15H5.3V2584.05H1.9V2587H0.9Z" fill="black"/>
          <path d="M1010.59 2587V2580H1015.49V2580.9H1011.59V2583.15H1014.99V2584.05H1011.59V2587H1010.59Z" fill="black"/>
          <path d="M339.725 2587H338.725V2584.1L336.225 2580H337.385L339.255 2583.09L341.105 2580H342.225L339.725 2584.1V2587Z" fill="black"/>
          <path d="M1349.41 2587H1348.41V2584.1L1345.91 2580H1347.07L1348.94 2583.09L1350.79 2580H1351.91L1349.41 2584.1V2587Z" fill="black"/>
          <path d="M674.425 2587V2580H675.425V2587H674.425Z" fill="black"/>
          <path d="M1684.11 2587V2580H1685.11V2587H1684.11Z" fill="black"/>
          <path d="M0.9 2802V2795H5.8V2795.9H1.9V2798.15H5.3V2799.05H1.9V2802H0.9Z" fill="black"/>
          <path d="M1010.59 2802V2795H1015.49V2795.9H1011.59V2798.15H1014.99V2799.05H1011.59V2802H1010.59Z" fill="black"/>
          <path d="M339.725 2802H338.725V2799.1L336.225 2795H337.385L339.255 2798.09L341.105 2795H342.225L339.725 2799.1V2802Z" fill="black"/>
          <path d="M1349.41 2802H1348.41V2799.1L1345.91 2795H1347.07L1348.94 2798.09L1350.79 2795H1351.91L1349.41 2799.1V2802Z" fill="black"/>
          <path d="M674.425 2802V2795H675.425V2802H674.425Z" fill="black"/>
          <path d="M1684.11 2802V2795H1685.11V2802H1684.11Z" fill="black"/>
          <path d="M0.9 3017V3010H5.8V3010.9H1.9V3013.15H5.3V3014.05H1.9V3017H0.9Z" fill="black"/>
          <path d="M1010.59 3017V3010H1015.49V3010.9H1011.59V3013.15H1014.99V3014.05H1011.59V3017H1010.59Z" fill="black"/>
          <path d="M339.725 3017H338.725V3014.1L336.225 3010H337.385L339.255 3013.09L341.105 3010H342.225L339.725 3014.1V3017Z" fill="black"/>
          <path d="M1349.41 3017H1348.41V3014.1L1345.91 3010H1347.07L1348.94 3013.09L1350.79 3010H1351.91L1349.41 3014.1V3017Z" fill="black"/>
          <path d="M674.425 3017V3010H675.425V3017H674.425Z" fill="black"/>
          <path d="M1684.11 3017V3010H1685.11V3017H1684.11Z" fill="black"/>
          <path d="M0.9 3232V3225H5.8V3225.9H1.9V3228.15H5.3V3229.05H1.9V3232H0.9Z" fill="black"/>
          <path d="M1010.59 3232V3225H1015.49V3225.9H1011.59V3228.15H1014.99V3229.05H1011.59V3232H1010.59Z" fill="black"/>
          <path d="M339.725 3232H338.725V3229.1L336.225 3225H337.385L339.255 3228.09L341.105 3225H342.225L339.725 3229.1V3232Z" fill="black"/>
          <path d="M1349.41 3232H1348.41V3229.1L1345.91 3225H1347.07L1348.94 3228.09L1350.79 3225H1351.91L1349.41 3229.1V3232Z" fill="black"/>
          <path d="M674.425 3232V3225H675.425V3232H674.425Z" fill="black"/>
          <path d="M1684.11 3232V3225H1685.11V3232H1684.11Z" fill="black"/>
          <path d="M0.9 3447V3440H5.8V3440.9H1.9V3443.15H5.3V3444.05H1.9V3447H0.9Z" fill="black"/>
          <path d="M1010.59 3447V3440H1015.49V3440.9H1011.59V3443.15H1014.99V3444.05H1011.59V3447H1010.59Z" fill="black"/>
          <path d="M339.725 3447H338.725V3444.1L336.225 3440H337.385L339.255 3443.09L341.105 3440H342.225L339.725 3444.1V3447Z" fill="black"/>
          <path d="M1349.41 3447H1348.41V3444.1L1345.91 3440H1347.07L1348.94 3443.09L1350.79 3440H1351.91L1349.41 3444.1V3447Z" fill="black"/>
          <path d="M674.425 3447V3440H675.425V3447H674.425Z" fill="black"/>
          <path d="M1684.11 3447V3440H1685.11V3447H1684.11Z" fill="black"/>
          <path d="M0.9 3662V3655H5.8V3655.9H1.9V3658.15H5.3V3659.05H1.9V3662H0.9Z" fill="black"/>
          <path d="M1010.59 3662V3655H1015.49V3655.9H1011.59V3658.15H1014.99V3659.05H1011.59V3662H1010.59Z" fill="black"/>
          <path d="M339.725 3662H338.725V3659.1L336.225 3655H337.385L339.255 3658.09L341.105 3655H342.225L339.725 3659.1V3662Z" fill="black"/>
          <path d="M1349.41 3662H1348.41V3659.1L1345.91 3655H1347.07L1348.94 3658.09L1350.79 3655H1351.91L1349.41 3659.1V3662Z" fill="black"/>
          <path d="M674.425 3662V3655H675.425V3662H674.425Z" fill="black"/>
          <path d="M1684.11 3662V3655H1685.11V3662H1684.11Z" fill="black"/>
          <path d="M0.9 3877V3870H5.8V3870.9H1.9V3873.15H5.3V3874.05H1.9V3877H0.9Z" fill="black"/>
          <path d="M1010.59 3877V3870H1015.49V3870.9H1011.59V3873.15H1014.99V3874.05H1011.59V3877H1010.59Z" fill="black"/>
          <path d="M339.725 3877H338.725V3874.1L336.225 3870H337.385L339.255 3873.09L341.105 3870H342.225L339.725 3874.1V3877Z" fill="black"/>
          <path d="M1349.41 3877H1348.41V3874.1L1345.91 3870H1347.07L1348.94 3873.09L1350.79 3870H1351.91L1349.41 3874.1V3877Z" fill="black"/>
          <path d="M674.425 3877V3870H675.425V3877H674.425Z" fill="black"/>
          <path d="M1684.11 3877V3870H1685.11V3877H1684.11Z" fill="black"/>
          <path d="M0.9 4092V4085H5.8V4085.9H1.9V4088.15H5.3V4089.05H1.9V4092H0.9Z" fill="black"/>
          <path d="M1010.59 4092V4085H1015.49V4085.9H1011.59V4088.15H1014.99V4089.05H1011.59V4092H1010.59Z" fill="black"/>
          <path d="M339.725 4092H338.725V4089.1L336.225 4085H337.385L339.255 4088.09L341.105 4085H342.225L339.725 4089.1V4092Z" fill="black"/>
          <path d="M1349.41 4092H1348.41V4089.1L1345.91 4085H1347.07L1348.94 4088.09L1350.79 4085H1351.91L1349.41 4089.1V4092Z" fill="black"/>
          <path d="M674.425 4092V4085H675.425V4092H674.425Z" fill="black"/>
          <path d="M1684.11 4092V4085H1685.11V4092H1684.11Z" fill="black"/>
          <path d="M0.9 4307V4300H5.8V4300.9H1.9V4303.15H5.3V4304.05H1.9V4307H0.9Z" fill="black"/>
          <path d="M1010.59 4307V4300H1015.49V4300.9H1011.59V4303.15H1014.99V4304.05H1011.59V4307H1010.59Z" fill="black"/>
          <path d="M339.725 4307H338.725V4304.1L336.225 4300H337.385L339.255 4303.09L341.105 4300H342.225L339.725 4304.1V4307Z" fill="black"/>
          <path d="M1349.41 4307H1348.41V4304.1L1345.91 4300H1347.07L1348.94 4303.09L1350.79 4300H1351.91L1349.41 4304.1V4307Z" fill="black"/>
          <path d="M674.425 4307V4300H675.425V4307H674.425Z" fill="black"/>
          <path d="M1684.11 4307V4300H1685.11V4307H1684.11Z" fill="black"/>
          <path d="M0.9 4522V4515H5.8V4515.9H1.9V4518.15H5.3V4519.05H1.9V4522H0.9Z" fill="black"/>
          <path d="M1010.59 4522V4515H1015.49V4515.9H1011.59V4518.15H1014.99V4519.05H1011.59V4522H1010.59Z" fill="black"/>
          <path d="M339.725 4522H338.725V4519.1L336.225 4515H337.385L339.255 4518.09L341.105 4515H342.225L339.725 4519.1V4522Z" fill="black"/>
          <path d="M1349.41 4522H1348.41V4519.1L1345.91 4515H1347.07L1348.94 4518.09L1350.79 4515H1351.91L1349.41 4519.1V4522Z" fill="black"/>
          <path d="M674.425 4522V4515H675.425V4522H674.425Z" fill="black"/>
          <path d="M1684.11 4522V4515H1685.11V4522H1684.11Z" fill="black"/>
          <path d="M0.9 4737V4730H5.8V4730.9H1.9V4733.15H5.3V4734.05H1.9V4737H0.9Z" fill="black"/>
          <path d="M1010.59 4737V4730H1015.49V4730.9H1011.59V4733.15H1014.99V4734.05H1011.59V4737H1010.59Z" fill="black"/>
          <path d="M339.725 4737H338.725V4734.1L336.225 4730H337.385L339.255 4733.09L341.105 4730H342.225L339.725 4734.1V4737Z" fill="black"/>
          <path d="M1349.41 4737H1348.41V4734.1L1345.91 4730H1347.07L1348.94 4733.09L1350.79 4730H1351.91L1349.41 4734.1V4737Z" fill="black"/>
          <path d="M674.425 4737V4730H675.425V4737H674.425Z" fill="black"/>
          <path d="M1684.11 4737V4730H1685.11V4737H1684.11Z" fill="black"/>
          <path d="M0.9 4952V4945H5.8V4945.9H1.9V4948.15H5.3V4949.05H1.9V4952H0.9Z" fill="black"/>
          <path d="M1010.59 4952V4945H1015.49V4945.9H1011.59V4948.15H1014.99V4949.05H1011.59V4952H1010.59Z" fill="black"/>
          <path d="M339.725 4952H338.725V4949.1L336.225 4945H337.385L339.255 4948.09L341.105 4945H342.225L339.725 4949.1V4952Z" fill="black"/>
          <path d="M1349.41 4952H1348.41V4949.1L1345.91 4945H1347.07L1348.94 4948.09L1350.79 4945H1351.91L1349.41 4949.1V4952Z" fill="black"/>
          <path d="M674.425 4952V4945H675.425V4952H674.425Z" fill="black"/>
          <path d="M1684.11 4952V4945H1685.11V4952H1684.11Z" fill="black"/>
        </g>
      </svg>
    </div>
  </body>
</html>
